general:
  name: CriteriaSorter
  version: 0.1
  verbose: true
  debug: true
  log_file: logs/criteriasorter.log
  log_level: debug
  log_format: '> %(asctime)s %(message)s'
  dry_run: false
  save_config: false
  default_operations: sort_junk_folder
  handler : ArtistHandler

operations:
  sort_junk_folder:
    operation_order: |
      operation1
      operation2
      operation3
      operation4
    operation1:
      conditions : |
        has_artist
        is_image
      destination : Artists/{obj.artist}/{obj.name}
    operation2:
      conditions : |
        is_video
      destination : vids/{obj.name}
    operation3:
      conditions : |
        is_audio
      destination : audios/{obj.name}
    operation4:
      conditions : |
        is_document
      destination : others/{obj.name}
